body {
  font-family: 'Poppins';font-size: 22px;
}


.homePage {
  text-align: center;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

.userPage {
  padding-left: 30px;
  padding-top: 90px;
}

.publicationsPetsView {
  margin-bottom: 30px;
}

.infoUser {
  display: flex;
  flex-direction: row;
}